<!DOCTYPE html>
<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <link rel="stylesheet" href="../stylesheet/app.css">
    </head>
    <body>
        
<div class="ui secondary pointing menu container">
    <div class="header item"> <i class="globe icon"></i> <b>Blog Site</b> </div>
    <a href="/" class="active item">
      Home
    </a>
    <a href="/blogs/new" class="item">
      New Post
    </a>
  
    <div class="right menu">
      <!--<a class="ui item">
        Logout
      </a>-->
    </div>
  </div>
 
  